@model List<Productos>

<a class="btn btn-success" asp-area="" asp-controller="Productos" asp-action="Create">Create</a>

<table class="table table-bordered">
    <tr>
        <td>Nombre</td>
        <td>Descripcion</td>
        <td>Editar</td>
        <td>Eliminar</td>
        <td>Ver</td>
    </tr>
    <tr>
        <td><input /></td>
        <td><input /></td>
        <td>Editar</td>
        <td>Eliminar</td>
        <td>Ver</td>
    </tr>

    @foreach (var producto in Model)
    {
        <tr>
            <td>@producto.Nombre</td>
            <td>@producto.Descripcion</td>
            <td>
                <a asp-area="" asp-controller="Productos" asp-action="update" asp-route-id="@producto.Id" class="btn btn-info">Editar</a>
            </td>
            <td>
                <a class="btn btn-danger" asp-controller="Productos" asp-action="delete" asp-route-id="@producto.Id" onclick="return confirm('¿Estás seguro de que deseas eliminar este elemento?')">Eliminar</a>
            </td>
            <td>
                <a class="btn btn-success" asp-controller="Productos" asp-action="view" asp-route-id="@producto.Id">Ver</a>
            </td>
        </tr>
    }
</table>